---
layout: base
body_class: homepage
---

{% for post in paginator.posts limit: 1 %}
    {% assign author = site.data.authors[post.author] %}
    {% if post.cover_image %}
        <div class="blog-cover" style="background-image:url({{site.url}}/images/{{ post.cover_image }});">
    {% else %}
        <div class="blog-cover" style="background-image:url({{site.url}}/images/{{ site.inc.cover_image }});">
    {% endif %}
        <section>
        </section>
    </div>
    <article class="container" id="featured">
      
        <section class="index" >
            <!-- {% if post.author.image %}<img src="/images/{{ post.author.image }}" class="avatar">{% endif %}-->
                <div>
                    <h1 class="title"><a href="{{site.url}}{{ post.url }}" rel="prefetch">{{ post.title }}</a></h1>
                    <h3>{{ post.subtitle }} </h3>
                    <p>{{ post.excerpt }}</p>
                </div>
            <div class="meta">
                Written By <address>{{ author.name }}</address> &mdash;
                <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time> &mdash;
                {{ post.content | reading_time }} read
            </div>
        </section>
    </article>  
{% endfor %}


<article class="container">
{% for post in paginator.posts offset: 1 %}
  {% unless post.draft or post.guide %}

  {% assign author = site.data.authors[post.author] %}
    <section class="index">
        <!-- {% if post.author.image %}<img src="/images/{{ post.author.image }}" class="avatar">{% endif %}-->
        <div class='row'>
            <div class='col-md-4 col-sm-12'>
                <div class='index-img-wrapper'>
                    <img src="{{site.url}}/images/{{ post.cover_image }}" class="image">
                </div>
            </div>
            <div class='col-md-8 col-sm-12'>
                <h2 class="title"><a href="{{site.url}}{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
                <p>{{ post.excerpt }}</p>
            </div>
        </div>
        <div class="meta">
            Written By <address>{{ author.name }}</address> &mdash;
            <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time> &mdash;
            {{ post.content | reading_time }} read
        </div>
    </section>
    {% endunless %}
    {% endfor %}
    <section class="pagination" style="text-align:center">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="{{site.url}}" class="btn btn-outline">‹ Newer</a>
        {% else %}
        <a href="{{site.url}}/page{{ paginator.previous_page }}" class="btn btn-outline">‹ Newer</a>
        {% endif %}
      {% endif %}
      {% if paginator.next_page %}
        <a href="{{site.url}}/page{{ paginator.next_page }}" class="btn btn-outline">Older ›</a>
      {% endif %}
    </section>
</article>
