<nav class="navbar navbar-default navbar-fixed-top navbar-scroll">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-dropdown" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://www.naytev.com"><img src="/images/{{ site.inc.logo }}" alt="Naytev"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-dropdown">
      <ul class="nav navbar-nav" id="landing-header">
        <li><a href="https://www.naytev.com" class="home">Home</a></li>
        <li><a href="http://blog.naytev.com" target="_blank">Insights</a></li>
        <li><a href="https://www.naytev.com/pricing">Pricing</a></li>
        <li class="dropdown hidden-xs">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Documentation</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Ecommerce</a></li>
            <li><a href="#">Partners</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>