body.ebook {
	article {
		background-color: whitesmoke;
	}
	.blog-cover {
		height: 400px;
	}
	#ebook-overview {
		padding: 40px 20px 20px 20px !important;
	}
	section.index {
		> div {
		padding: 20px;
		}
	}
}