/*_custom.scss*/

.z-depth-0 {
  box-shadow: none !important;
}
.z-depth-1{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.z-depth-1-half{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.z-depth-2{
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-3{
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-4{
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.z-depth-5{
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.naytev-share-toolbar.naytev-share-horizontal { 
    margin-bottom: 45px;
    margin-top: 45px;
}

.naytev-share-toolbar.naytev-floating-share {
	display: none;
}

.index > div.meta { display: inline; }

article:not(#featured) {
	padding-top: 10px;
}

.content-stub {
	margin: 20px;
	background: #fff;
	> div {
		padding: 20px 25px;
	}
	@extend .z-depth-1;
	h2.title {
		color: $navy;
	}
	.content-stub-img-wrapper {
		padding: 0px;
		max-height: 250px;
		overflow: hidden;
		border-bottom: 1px solid whitesmoke;
		img {
			margin: 0;
		}
	}
}
body.homepage {

	.container {
		background: transparent;
		padding-bottom: 10px;
	}

	background: whitesmoke;

	.naytev-floating-share {
		display: none;
	}
	
	#featured {
		position: relative;
		bottom: 140px;
		z-index: 99;
		margin-bottom: -140px;
		padding-bottom: 0px;
	}

	section.index {
		background: #fff;
		padding: 20px 25px;
		margin-bottom: 20px;
		@extend .z-depth-1;
	}

	@media (max-width: 720px) { 

		#featured {
			position: relative;
			bottom: 40px;
			z-index: 99;
			margin-bottom: -40px;
			padding-bottom: 0px;
			section.index {
				margin: 0px 10px;
			}
		}

		section.index {
			margin: 10px;
		}

		article:not(#featured) {
			.index img {
				display: inline;
			}	
		}	
	}
}

@media (max-width: 720px){
	body.guide {
		.blog-cover {
			height: 200px;
		}
    	section.index {
        	> div {
        		// @include span-columns(12);
        	}
    	}
    }
}

.infographic {
	border: 1px solid #ddd;
}

.text-center {
	margin: 0 auto;
}
