body.guide {
	background: whitesmoke;
	article.container {
		background: transparent;
	}
	section.index {
		background: #fff;
		padding: 20px 25px;
		margin-bottom: 20px;
		@extend .z-depth-1;
	}
	.blog-cover {
		height: 400px;
	}
	#guide-overview {
		padding: 40px 20px 20px 20px !important;
	}
	section.index {
		> div {
		padding: 20px;
		}
	}
}