  /* CUSTOMIZE THE NAVBAR
  -------------------------------------------------- */
  .navbar-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 200;
  }
  /* Flip around the padding for proper display in narrow viewports */
  .navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-default.navbar-scroll {
    background-color: #fff;
    border-color: #fff;
    padding: 15px 0;
  }
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
    transition: all 0.3s ease-in-out 0s;
  }
  .navbar-default .nav li a {
    color: #fff;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
  }
  .navbar-nav > li > a {
    padding-top: 25px;
    border-top: 6px solid transparent;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover {
    background: transparent;
    color: #fff;
    border-top: 6px solid $navy;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: $navy;
    background: inherit;
  }
  .navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
    color: #fff;
  }

  .navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
    color: #ffffff;
  }

  .navbar-default.navbar-scroll .navbar-nav > .active > a:focus {
    background: transparent;
    color: inherit;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    background: darken($navy, 5%);
    color: #fff;
  }
  .navbar-default .navbar-brand {
    color: #fff;
    height: auto;
    display: block;
    font-size: 14px;
    background: $navy;
    padding: 15px 20px 15px 20px;
    border-radius: 0 0 5px 5px;
    font-weight: 700;
    transition: all 0.3s ease-in-out 0s;
  }
  .navbar-scroll.navbar-default .nav li a {
    color: $text-color;
  }
  .navbar-scroll.navbar-default .nav li a:hover {
    color: $navy;
  }
  .navbar-wrapper .navbar.navbar-scroll {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid $border-color;
    border-radius: 0;
  }

  .nav > li.active {
    border: none;
    background: inherit;
  }

  .nav > li > a {
    padding: 25px 10px 15px 10px;
  }
  .navbar-scroll .navbar-nav > li > a {
    padding: 20px 10px;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover {
    border-top: 6px solid $navy;
  }

  .navbar-fixed-top {
    border: none !important;
  }

  .navbar-fixed-top.navbar-scroll {
    border-bottom: 1px solid $border-color !important;
  }

  .navbar.navbar-scroll .navbar-brand {
    margin-top: 15px;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    height: auto;
  }

  .navbar-default {
    &.navbar-scroll{
     .navbar-brand{
        margin-top: 10px;
        margin-bottom: 10px;
        background: #fff;
        &:hover, &:active, &:focus{
          background: #fff;
        }
        img{
          height: 25px;
        }
     } 
    }
    &:not(.navbar-scroll){
      .dropdown-menu{
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        &:after{
          bottom: 100%;
          right: 20px;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-bottom-color: #fff;
          border-width: 10px;
          margin-left: -10px;
        }
        a{
          color: $text-color;
          &:hover{
            color: $navy;
          }
        }
      }
    }
    .navbar-brand {
      background: white;
      color: white;
      display: block;
      font-size: 14px;
      padding: 15px 20px 15px 20px;
      border-radius: 0 0 5px 5px;
      font-weight: 700;
      transition: all 0.3s ease-in-out 0s;
      margin-top: 0px;
      &:hover, &:active, &:focus{
        background: #fff;
      }
      img{
        height: 30px;
      }
    }
    .nav {
      &#landing-header{
        margin-left: 60px;
      }
      .open{
        > a, a:hover, a:focus {
          border-color: $navy;
          background: transparent;
        }
      }
    }
    .navbar-toggle{
      margin-top: 15px;
    }
    #mc_embed_signup { border: none; text-align: center; width: 100%; margin-top: 10px; } /* Signup form container */

    .mc-field-group { 
      display: inline-block; 
      label {
        display: none;
        color: #676a6c;
      }
    } /* positions input field horizontally */

    #mce-EMAIL { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: .9em; border: 2px solid #ABB0B2 ; color: #676a6c; background-color: #fff; padding: .2em 1em .2em .4em; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display: inline-block; margin: 0; } /* Input Styles */

    .clear { display: inline-block; } /* positions button horizontally in line with input */

    .button { font-family: 'Helvetica Neue', Helvetica,  Arial, sans-serif; font-size: .9em; letter-spacing: .03em; color: #fff; background-color: #18a689 ; padding: .2em 1em; border: 2px solid #18a689 ; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display: inline-block; margin: 0; } /* Button Styles */

    :-webkit-input-placeholder { color: #676a6c ; } /* WebKit browsers */ 
    :-moz-placeholder { color: #676a6c ; } /* Mozilla Firefox 4 to 18 */
    ::-moz-placeholder { color: #676a6c ; } /* Mozilla Firefox 19+ */
    :-ms-input-placeholder { color: #676a6c ; } /* Internet Explorer 10+ */

    @media (max-width: 768px) { /* positions input field and button underneath each other with 100% width for tablet and mobile */
      
    .mc-field-group { display: block; max-width: 100%; }
    #mce-EMAIL { padding: .2em 0 .2em .4em; width: 96%; margin: 0; }
    .clear { display: block; width: 100% }
    .button { width: 100%; margin: .5em 0 0 0; }
      
    }
  }

  .landing-footer {
  a{
    color: $text-color;
  }
  .naytev-logo {
    height: 15px;
    width: auto;
    padding-left: 5px;
  }
}

.navbar.navbar-default.navbar-scroll.navbar-fixed-top {
	padding: 0px;
  .navbar-brand{
    padding: 10px;
  }
}

ul.dropdown-menu {
	right: 0;
	left: auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

@media(max-width: 768px){
  .navbar-default .nav#landing-header{
    margin-left: -15px;
  }
}
