/* CONFIGURATION */

/* Bodytext font */
$font: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Font for headings */
$fontheadings: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #18a689;


/* IMPORT CSS FILES */
@import "variables";
@import "bootstrap";
@import "base";
@import "article";
@import "syntax";

@import "custom";

@import "guide";
@import "webinar";
@import "ebook";
@import "register_modal";

@import "responsive";

@import "navbarscroll";

@import "./inspinia/style";

@import "addtocalendar";