---
layout: base
---

<article>

    <div class="container">
        <header>
            <span class='label label-warning'><i class='fa fa-video-camera'></i> WEBINAR</span>
            <h1 class="title">{{ page.title }}</h1>
            {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
        </header>

        <section>

            {{ content }}

            {% include _social.html %}
        </section>

        {% if page.popup %}
            {% include _popup.html %}
        {% endif %}

    </div>
</article>
